@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@using System.IO

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <!--<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>-->
        By Michael Oborne
        <div id="g-signin2" class="g-signin2"></div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<div id="loadingML" style="display: @(Loading ? "block": "none");  position: fixed;  left: 0px;  top: 0px;  width: 100%;  height: 100%;  z-index: 9999;  background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif')               50% 50% no-repeat ;">

</div>

@code
{
    private static readonly log4net.ILog log = log4net.LogManager.GetLogger(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType);

    public static string googleid = "";
    private bool _loading = true;

    public bool Loading {
        get { return _loading; }
        set { log.Info("Loading " + _loading); _loading = value; }
    }

    [JSInvokable]
    public static void SetGoogleID(string id)
    {
        googleid = id;
    }

    protected override async Task OnInitAsync()
    {
        GetFile("ParameterMetaDataBackup.xml");

        Directory.CreateDirectory("graphs");

        GetFile("graphs/ekf3Graphs.xml");
        GetFile("graphs/ekfGraphs.xml");
        GetFile("graphs/mavgraphs.xml");
        GetFile("graphs/mavgraphs2.xml");
        GetFile("graphs/mavgraphsMP.xml");

        Loading = false;
    }

    protected override void OnAfterRender()
    {
        base.OnAfterRender();

        if(googleid == "")
            JSRuntime.InvokeAsync<object>("renderButton", new { });

        Console.WriteLine("MainLayout OnAfterRender Done");
    }

    async void GetFile(string filename)
    {
        if (!File.Exists(filename))
        {
            log.Info("get "+filename);
            var content = await Http.GetStringAsync((filename));
            log.Info("get "+filename+" done");

            File.WriteAllText(filename, content);
        }
    }
}
