<configuration>
    <dllmap dll="libgstreamer-1.0-0.dll" target="libgstreamer-1.0.so.0" os="!windows"/>
    <dllmap dll="libgstapp-1.0-0.dll" target="libgstapp-1.0.so.0" os="!windows"/>

	<dllmap dll="libgstreamer-1.0-0.dll" target="libgstreamer_android.so" os="!windows"/>
	<dllmap dll="libgstapp-1.0-0.dll" target="libgstreamer_android.so" os="!windows"/>
</configuration>