*.pfx
*.suo
*.user
bin/
obj/
/CustomImages
/APMPlannerXplanes/APMPlannerXplanes/Debug
/APMPlannerXplanes/Debug
/Driver/makecert.exe
/Drivers/gencert.bat
/Drivers/int2cat.bat
/Drivers/makecert.exe
/Drivers/signing.url
/Msi
/packages
*.psess
/copy.bat
/macos.bat
/logo.png
*.vsp
/sitl
/cov-int
*.pyc
*.ncrunchproject
*.crunchsolution.cache
*.ncrunchsolution
/Plugins/AltitudeAngelWings/AltitudeAngelWings/Keys.config
/ExtLibs/Mavlink/Mavlink.cs
/ExtLibs/Mavlink/mavlink
/LogAnalyzer/LogAnalyzer.zip
/LogAnalyzer/py2exe/dist
/LogAnalyzer/py2exe/build
/LogAnalyzer/LogAnalyzer64.zip
/gstream
/MissionPlanner.appx
/AltitudeAngelWings.sln
/appxkey.cer
/ExtLibs/Portable/Portable
/ExtLibs/AltitudeAngelWings/Keys.config
/MissionPlannerBeta.zip
*.vspx
