*.pfx
*.suo
*.user
bin/
obj/
.vs/
/Msi
packages/
*.psess
*.pyc
/ExtLibs/Mavlink/mavlink
/LogAnalyzer/py2exe/
*.vspx
*.appx
*.zip
/Drivers/gencert.bat
/Drivers/makecert.exe
/Drivers/signing.url
/ExtLibs/Zeroconf
/ExtLibs/wasm/wwwroot/2018-09-09 18-15-17.txt
/ExtLibs/Test
/ExtLibs/AltitudeAngelWings/Keys.config
/Drivers/DriverCleanup.pdb
/Drivers/DriverCleanup.exe.config
/Drivers/DriverCleanup.exe
/objcore
*.diagsession
/ExtLibs/WindowsStore/BundleArtifacts
/ExtLibs/runtime
/ExtLibs/Xamarin/Xamarin.Android/.__override__
/ExtLibs/UsbSerialForAndroid/usb-serial-for-android-3.2.0
