language: csharp
solution: ArdupilotMega.sln

env: 
   global: 
     - EnableNuGetPackageRestore=true 

install:
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
  - echo "deb http://download.mono-project.com/repo/debian wheezy main" | sudo tee /etc/apt/sources.list.d/mono-xamarin.list
  - sudo apt-get update
  - sudo apt-get install -y mono-complete
  - mozroots --import --sync
#  - mono --runtime=v4.0.30319 .nuget/NuGet.exe restore ArdupilotMega.sln
script:    # the following commands are just examples, use whatever your build process requires
  - xbuild /p:Configuration=Release ArdupilotMega.sln

mono:
  - latest
  
notifications: 
   webhooks: 
     urls: 
       - https://webhooks.gitter.im/e/e1224e020cf9b5a91a8c 
     on_success: change  # options: [always|never|change] default: always 
     on_failure: always  # options: [always|never|change] default: always 
     on_start: false     # default: false 
