<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.2" targetFramework="net40" />
  <package id="DotSpatial.Data" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Data.Forms" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Extensions" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Modeling.Forms" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Mono" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Projections" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Projections.Forms" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Serialization" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Symbology" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Symbology.Forms" version="1.6.0.0" targetFramework="net40" />
  <package id="DotSpatial.Topology" version="1.6.0.0" targetFramework="net40" />
  <package id="IronPython" version="2.7.5-beta1" targetFramework="net40" />
  <package id="IronPython.StdLib" version="2.7.5-beta1" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="ProjNet" version="1.2" targetFramework="net40" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net40" />
  <package id="Rx-Core" version="2.2.4" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.4" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.4" targetFramework="net40" />
  <package id="Rx-Main" version="2.2.4" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.4" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="Unofficial.ObjectListView" version="2.6.0" targetFramework="net40" />
</packages>