<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension" xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension' >


    <Product Id="*" Name="Mission Planner" Language="1033" Version="1.2.83" Manufacturer="Michael Oborne" UpgradeCode="{625389D7-EB3C-4d77-A5F6-A285CF99437D}">

        <Package Description="Mission Planner Installer" Comments="Mission Planner Installer" Manufacturer="Michael Oborne" InstallerVersion="200" Compressed="yes" />


<Upgrade Id="{625389D7-EB3C-4d77-A5F6-A285CF99437D}">
    <UpgradeVersion OnlyDetect="yes" Minimum="1.2.83" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
    <UpgradeVersion OnlyDetect="no" Minimum="0.0.0" Maximum="1.2.83" Property="OLDERVERSIONBEINGUPGRADED" IncludeMinimum="yes" IncludeMaximum="yes" />
</Upgrade>

<InstallExecuteSequence>
    <RemoveExistingProducts After="InstallInitialize" />
</InstallExecuteSequence>


        <PropertyRef Id="NETFRAMEWORK35" />

        <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK35]]></Condition>

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                
<Directory Id="MissionPlanner" Name="Mission Planner">
<Component Id="InstallDirPermissions" Guid="{525389D7-EB3C-4d77-A5F6-A285CF99437D}" KeyPath="yes"> 
                        <CreateFolder> 
                            <Permission User="Everyone" GenericAll="yes" /> 
                        </CreateFolder>
                    </Component>
<Component Id="_1" Guid="af3a649f-9afe-43a9-ade2-b1fa4500c149">
<File Id="acsimplepids_xml_2" Source="..\bin\release\acsimplepids.xml" />
<File Id="alglibnet2_dll_3" Source="..\bin\release\alglibnet2.dll" />
<File Id="ArduCopterConfig_xml_4" Source="..\bin\release\ArduCopterConfig.xml" />
<File Id="ArdupilotMegaPlanner10_exe_5" Source="..\bin\release\ArdupilotMegaPlanner10.exe" />
<File Id="ArdupilotMegaPlanner10_exe_config_6" Source="..\bin\release\ArdupilotMegaPlanner10.exe.config" />
<File Id="ArdupilotMegaPlanner10_pdb_7" Source="..\bin\release\ArdupilotMegaPlanner10.pdb" />
<File Id="ArdupilotMegaPlanner10_vshost_exe_8" Source="..\bin\release\ArdupilotMegaPlanner10.vshost.exe" />
<File Id="ArdupilotMegaPlanner10_vshost_exe_config_9" Source="..\bin\release\ArdupilotMegaPlanner10.vshost.exe.config" />
<File Id="ArdupilotMegaPlanner10_vshost_exe_manifest_10" Source="..\bin\release\ArdupilotMegaPlanner10.vshost.exe.manifest" />
<File Id="AviFile_dll_11" Source="..\bin\release\AviFile.dll" />
<File Id="AWSSDK_dll_12" Source="..\bin\release\AWSSDK.dll" />
<File Id="BaseClassesNET_dll_13" Source="..\bin\release\BaseClassesNET.dll" />
<File Id="BaseClassesNET_pdb_14" Source="..\bin\release\BaseClassesNET.pdb" />
<File Id="beta_bat_15" Source="..\bin\release\beta.bat" />
<File Id="block_plane_0_dae_16" Source="..\bin\release\block_plane_0.dae" />
<File Id="BouncyCastle_Crypto_dll_17" Source="..\bin\release\BouncyCastle.Crypto.dll" />
<File Id="BSE_Windows_Forms_dll_18" Source="..\bin\release\BSE.Windows.Forms.dll" />
<File Id="cameras_xml_19" Source="..\bin\release\cameras.xml" />
<File Id="camerasBuiltin_xml_20" Source="..\bin\release\camerasBuiltin.xml" />
<File Id="ChangeLog_txt_21" Source="..\bin\release\ChangeLog.txt" />
<File Id="Core_dll_22" Source="..\bin\release\Core.dll" />
<File Id="Core_pdb_23" Source="..\bin\release\Core.pdb" />
<File Id="csmatio_dll_24" Source="..\bin\release\csmatio.dll" />
<File Id="dataflashlog_xml_25" Source="..\bin\release\dataflashlog.xml" />
<File Id="DirectShowLib_2005_dll_26" Source="..\bin\release\DirectShowLib-2005.dll" />
<File Id="exif_xslt_27" Source="..\bin\release\exif.xslt" />
<File Id="firmware_hex_28" Source="..\bin\release\firmware.hex" />
<File Id="FirmwareHistory_txt_29" Source="..\bin\release\FirmwareHistory.txt" />
<File Id="GeoUtility_dll_30" Source="..\bin\release\GeoUtility.dll" />
<File Id="GeoUtility_pdb_31" Source="..\bin\release\GeoUtility.pdb" />
<File Id="GeoUtility_xml_32" Source="..\bin\release\GeoUtility.xml" />
<File Id="GMap_NET_Core_dll_33" Source="..\bin\release\GMap.NET.Core.dll" />
<File Id="GMap_NET_Core_xml_34" Source="..\bin\release\GMap.NET.Core.xml" />
<File Id="GMap_NET_WindowsForms_dll_35" Source="..\bin\release\GMap.NET.WindowsForms.dll" />
<File Id="GMap_NET_WindowsForms_xml_36" Source="..\bin\release\GMap.NET.WindowsForms.xml" />
<File Id="hud_html_37" Source="..\bin\release\hud.html" />
<File Id="ICSharpCode_SharpZipLib_dll_38" Source="..\bin\release\ICSharpCode.SharpZipLib.dll" />
<File Id="Ionic_Zip_Reduced_dll_39" Source="..\bin\release\Ionic.Zip.Reduced.dll" />
<File Id="IronPython_dll_40" Source="..\bin\release\IronPython.dll" />
<File Id="IronPython_Modules_dll_41" Source="..\bin\release\IronPython.Modules.dll" />
<File Id="KMLib_dll_42" Source="..\bin\release\KMLib.dll" />
<File Id="KMLib_pdb_43" Source="..\bin\release\KMLib.pdb" />
<File Id="log4net_dll_44" Source="..\bin\release\log4net.dll" />
<File Id="mavcmd_xml_45" Source="..\bin\release\mavcmd.xml" />
<File Id="MAVLink_dll_46" Source="..\bin\release\MAVLink.dll" />
<File Id="MAVLink_pdb_47" Source="..\bin\release\MAVLink.pdb" />
<File Id="MAVLink_xml_48" Source="..\bin\release\MAVLink.xml" />
<File Id="MetaDataExtractor_dll_49" Source="..\bin\release\MetaDataExtractor.dll" />
<File Id="MetadataExtractor_dtd_50" Source="..\bin\release\MetadataExtractor.dtd" />
<File Id="MetadataExtractorNew_dtd_51" Source="..\bin\release\MetadataExtractorNew.dtd" />
<File Id="Microsoft_DirectX_DirectInput_dll_52" Source="..\bin\release\Microsoft.DirectX.DirectInput.dll" />
<File Id="Microsoft_DirectX_dll_53" Source="..\bin\release\Microsoft.DirectX.dll" />
<File Id="Microsoft_Dynamic_dll_54" Source="..\bin\release\Microsoft.Dynamic.dll" />
<File Id="Microsoft_Scripting_Core_dll_55" Source="..\bin\release\Microsoft.Scripting.Core.dll" />
<File Id="Microsoft_Scripting_Debugging_dll_56" Source="..\bin\release\Microsoft.Scripting.Debugging.dll" />
<File Id="Microsoft_Scripting_dll_57" Source="..\bin\release\Microsoft.Scripting.dll" />
<File Id="Microsoft_Scripting_ExtensionAttribute_dll_58" Source="..\bin\release\Microsoft.Scripting.ExtensionAttribute.dll" />
<File Id="MissionPlanner_application_59" Source="..\bin\release\MissionPlanner.application" />
<File Id="MissionPlanner_Comms_dll_60" Source="..\bin\release\MissionPlanner.Comms.dll" />
<File Id="MissionPlanner_Comms_pdb_61" Source="..\bin\release\MissionPlanner.Comms.pdb" />
<File Id="MissionPlanner_Controls_dll_62" Source="..\bin\release\MissionPlanner.Controls.dll" />
<File Id="MissionPlanner_Controls_pdb_63" Source="..\bin\release\MissionPlanner.Controls.pdb" />
<File Id="_64" Source="..\bin\release\MissionPlanner.exe" ><netfx:NativeImage Id="ngen_MissionPlannerexe"/> </File>
<ProgId Id='MissionPlanner.tlog' Description='Telemetry Log'>
  <Extension Id='tlog' ContentType='application/tlog'>
     <Verb Id='open' Command='Open' TargetFile='_64' Argument='"%1"' />
  </Extension>
</ProgId>
<File Id="MissionPlanner_exe_config_65" Source="..\bin\release\MissionPlanner.exe.config" />
<File Id="MissionPlanner_exe_manifest_66" Source="..\bin\release\MissionPlanner.exe.manifest" />
<File Id="MissionPlanner_pdb_67" Source="..\bin\release\MissionPlanner.pdb" />
<File Id="MissionPlanner_Utilities_dll_68" Source="..\bin\release\MissionPlanner.Utilities.dll" />
<File Id="MissionPlanner_Utilities_pdb_69" Source="..\bin\release\MissionPlanner.Utilities.pdb" />
<File Id="MissionPlanner_vshost_application_70" Source="..\bin\release\MissionPlanner.vshost.application" />
<File Id="MissionPlanner_vshost_exe_71" Source="..\bin\release\MissionPlanner.vshost.exe" />
<File Id="MissionPlanner_vshost_exe_config_72" Source="..\bin\release\MissionPlanner.vshost.exe.config" />
<File Id="MissionPlanner_vshost_exe_manifest_73" Source="..\bin\release\MissionPlanner.vshost.exe.manifest" />
<File Id="netDxf_dll_74" Source="..\bin\release\netDxf.dll" />
<File Id="OpenTK_dll_75" Source="..\bin\release\OpenTK.dll" />
<File Id="OpenTK_GLControl_dll_76" Source="..\bin\release\OpenTK.GLControl.dll" />
<File Id="OpenTK_GLControl_xml_77" Source="..\bin\release\OpenTK.GLControl.xml" />
<File Id="ParameterMetaDataBackup_xml_78" Source="..\bin\release\ParameterMetaDataBackup.xml" />
<File Id="ProjNet_dll_79" Source="..\bin\release\ProjNet.dll" />
<File Id="px4fw_bin_80" Source="..\bin\release\px4fw.bin" />
<File Id="px4uploader_exe_81" Source="..\bin\release\px4uploader.exe" />
<File Id="quadhil_xml_82" Source="..\bin\release\quadhil.xml" />
<File Id="sampleFile_xml_83" Source="..\bin\release\sampleFile.xml" />
<File Id="SharpKml_dll_84" Source="..\bin\release\SharpKml.dll" />
<File Id="SharpKml_pdb_85" Source="..\bin\release\SharpKml.pdb" />
<File Id="SharpKml_xml_86" Source="..\bin\release\SharpKml.xml" />
<File Id="System_Reactive_Core_dll_87" Source="..\bin\release\System.Reactive.Core.dll" />
<File Id="System_Reactive_Core_xml_88" Source="..\bin\release\System.Reactive.Core.xml" />
<File Id="System_Reactive_Interfaces_dll_89" Source="..\bin\release\System.Reactive.Interfaces.dll" />
<File Id="System_Reactive_Interfaces_xml_90" Source="..\bin\release\System.Reactive.Interfaces.xml" />
<File Id="System_Reactive_Linq_dll_91" Source="..\bin\release\System.Reactive.Linq.dll" />
<File Id="System_Reactive_Linq_xml_92" Source="..\bin\release\System.Reactive.Linq.xml" />
<File Id="System_Speech_dll_93" Source="..\bin\release\System.Speech.dll" />
<File Id="Transitions_dll_94" Source="..\bin\release\Transitions.dll" />
<File Id="Updater_exe_95" Source="..\bin\release\Updater.exe" />
<File Id="Updater_exe_config_96" Source="..\bin\release\Updater.exe.config" />
<File Id="version_exe_97" Source="..\bin\release\version.exe" />
<File Id="version_txt_98" Source="..\bin\release\version.txt" />
<File Id="ZedGraph_dll_99" Source="..\bin\release\ZedGraph.dll" />
<File Id="ZedGraph_pdb_100" Source="..\bin\release\ZedGraph.pdb" />
<File Id="ZedGraph_xml_101" Source="..\bin\release\ZedGraph.xml" />
<File Id="zlib_net_dll_102" Source="..\bin\release\zlib.net.dll" />
</Component>
<Directory Id="de102" Name="de">
<Component Id="de_103" Guid="c3081bd4-994f-469e-9698-62115dab6343">
</Component>
</Directory>
<Directory Id="de_DE103" Name="de-DE">
<Component Id="de_DE_104" Guid="7fabb988-9f6e-4b14-a6e6-761fd82d9607">
<File Id="ArdupilotMegaPlanner10_resources_dll_105" Source="..\bin\release\de-DE\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_106" Source="..\bin\release\de-DE\MissionPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="Driver106" Name="Driver">
<Component Id="Driver_107" Guid="5126ebb6-e882-4a78-b5a3-1a1699b058eb">
<File Id="arduinomega2560_cat_108" Source="..\bin\release\Driver\arduinomega2560.cat" />
<File Id="ArduinoMEGA2560_inf_109" Source="..\bin\release\Driver\ArduinoMEGA2560.inf" />
<File Id="dpinst_xml_110" Source="..\bin\release\Driver\dpinst.xml" />
<File Id="DPInstx64_exe_111" Source="..\bin\release\Driver\DPInstx64.exe" />
<File Id="DPInstx86_exe_112" Source="..\bin\release\Driver\DPInstx86.exe" />
<File Id="px4flow_cat_113" Source="..\bin\release\Driver\px4flow.cat" />
<File Id="px4flow_inf_114" Source="..\bin\release\Driver\px4flow.inf" />
<File Id="px4fmu_cat_115" Source="..\bin\release\Driver\px4fmu.cat" />
<File Id="px4fmu_inf_116" Source="..\bin\release\Driver\px4fmu.inf" />
<File Id="signed_cer_117" Source="..\bin\release\Driver\signed.cer" />
</Component>
</Directory>
<Directory Id="es117" Name="es">
<Component Id="es_118" Guid="2e407dac-24ff-47f3-846f-c2c862e610ad">
</Component>
</Directory>
<Directory Id="es_ES118" Name="es-ES">
<Component Id="es_ES_119" Guid="bb6dcf62-7555-4623-a818-e4a11ca3ac32">
<File Id="ArdupilotMegaPlanner10_resources_dll_120" Source="..\bin\release\es-ES\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_121" Source="..\bin\release\es-ES\MissionPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="fr121" Name="fr">
<Component Id="fr_122" Guid="dc7c0a89-001b-4ffa-a8d0-7f48fde66c53">
<File Id="ArdupilotMegaPlanner10_resources_dll_123" Source="..\bin\release\fr\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_124" Source="..\bin\release\fr\MissionPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="hu124" Name="hu">
<Component Id="hu_125" Guid="6d72d44e-461f-4e2d-b313-806c6fb52d04">
</Component>
</Directory>
<Directory Id="it125" Name="it">
<Component Id="it_126" Guid="f62964e5-1d69-4782-8b81-68c8332f2627">
</Component>
</Directory>
<Directory Id="it_IT126" Name="it-IT">
<Component Id="it_IT_127" Guid="b3768925-3474-4b89-85e3-5fe8f4bf21fc">
<File Id="ArdupilotMegaPlanner10_resources_dll_128" Source="..\bin\release\it-IT\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_129" Source="..\bin\release\it-IT\MissionPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="ja129" Name="ja">
<Component Id="ja_130" Guid="67e8e10c-d6c8-403e-88c0-503aecf8ed59">
</Component>
</Directory>
<Directory Id="m3u130" Name="m3u">
<Component Id="m3u_131" Guid="a4918934-b225-4bfc-819f-001a5a52cb19">
<File Id="both_m3u_132" Source="..\bin\release\m3u\both.m3u" />
<File Id="GeoRefnetworklink_kml_133" Source="..\bin\release\m3u\GeoRefnetworklink.kml" />
<File Id="hud_m3u_134" Source="..\bin\release\m3u\hud.m3u" />
<File Id="map_m3u_135" Source="..\bin\release\m3u\map.m3u" />
<File Id="networklink_kml_136" Source="..\bin\release\m3u\networklink.kml" />
</Component>
</Directory>
<Directory Id="mavelous_web136" Name="mavelous_web">
<Component Id="mavelous_web_137" Guid="507a4554-719b-4197-a807-244bb23286ae">
<File Id="index_html_138" Source="..\bin\release\mavelous_web\index.html" />
</Component>
</Directory>
<Directory Id="pl138" Name="pl">
<Component Id="pl_139" Guid="d050460e-d4c1-4819-830c-c7ef74d84eb9">
<File Id="ArdupilotMegaPlanner10_resources_dll_140" Source="..\bin\release\pl\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_141" Source="..\bin\release\pl\MissionPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="plugins141" Name="plugins">
<Component Id="plugins_142" Guid="f4699001-8860-471f-8b26-4b213cdb8498">
<File Id="Mavlink_dll_143" Source="..\bin\release\plugins\Mavlink.dll" />
<File Id="Mavlink_pdb_144" Source="..\bin\release\plugins\Mavlink.pdb" />
<File Id="MissionPlanner_Grid_dll_145" Source="..\bin\release\plugins\MissionPlanner.Grid.dll" />
<File Id="MissionPlanner_Grid_pdb_146" Source="..\bin\release\plugins\MissionPlanner.Grid.pdb" />
<File Id="MissionPlanner_Stats_dll_147" Source="..\bin\release\plugins\MissionPlanner.Stats.dll" />
<File Id="MissionPlanner_Stats_pdb_148" Source="..\bin\release\plugins\MissionPlanner.Stats.pdb" />
<File Id="TrackerHome_dll_149" Source="..\bin\release\plugins\TrackerHome.dll" />
<File Id="TrackerHome_pdb_150" Source="..\bin\release\plugins\TrackerHome.pdb" />
</Component>
</Directory>
<Directory Id="pt150" Name="pt">
<Component Id="pt_151" Guid="7cf9ec81-b4b6-4b5d-b45c-790bdfad6635">
</Component>
</Directory>
<Directory Id="Resources151" Name="Resources">
<Component Id="Resources_152" Guid="d36d104f-a144-4daf-a993-a260d42e56e4">
<File Id="aw_png_153" Source="..\bin\release\Resources\aw.png" />
<File Id="MAVCmd_txt_154" Source="..\bin\release\Resources\MAVCmd.txt" />
<File Id="Welcome_to_Michael_Oborne_rtf_155" Source="..\bin\release\Resources\Welcome_to_Michael_Oborne.rtf" />
</Component>
</Directory>
<Directory Id="ru155" Name="ru">
<Component Id="ru_156" Guid="9ba6073e-0c9e-4d09-ab47-5620a91f41e3">
</Component>
</Directory>
<Directory Id="ru_RU156" Name="ru-RU">
<Component Id="ru_RU_157" Guid="727af195-73d1-4dba-ad9b-54898382bea5">
<File Id="ArdupilotMegaPlanner10_resources_dll_158" Source="..\bin\release\ru-RU\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_159" Source="..\bin\release\ru-RU\MissionPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="sk159" Name="sk">
<Component Id="sk_160" Guid="9424566e-adc7-4b44-85c1-3b26ef2afefd">
</Component>
</Directory>
<Directory Id="sv160" Name="sv">
<Component Id="sv_161" Guid="f9946d5a-6e30-4aca-8281-a70fe8ad5225">
</Component>
</Directory>
<Directory Id="tr161" Name="tr">
<Component Id="tr_162" Guid="05e54718-d999-48eb-b0f4-0bff9dbde42e">
</Component>
</Directory>
<Directory Id="zh_cn162" Name="zh-cn">
<Component Id="zh_cn_163" Guid="bbb03e3d-7c99-49ef-b0a4-a3eeef6a6e04">
</Component>
</Directory>
<Directory Id="zh_Hans163" Name="zh-Hans">
<Component Id="zh_Hans_164" Guid="9c0c6cdc-ba07-4e25-8fcb-94a0f25b59ce">
<File Id="ArdupilotMegaPlanner10_resources_dll_165" Source="..\bin\release\zh-Hans\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_166" Source="..\bin\release\zh-Hans\MissionPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="zh_tw166" Name="zh-tw">
<Component Id="zh_tw_167" Guid="7cde51fa-ec88-4a57-a68f-191e12a00408">
<File Id="ArdupilotMegaPlanner10_resources_dll_168" Source="..\bin\release\zh-tw\ArdupilotMegaPlanner10.resources.dll" />
<File Id="MissionPlanner_resources_dll_169" Source="..\bin\release\zh-tw\MissionPlanner.resources.dll" />
</Component>
</Directory>

                    
                    <Directory Id="driver" Name="Drivers">
                        <Component Id="MyDriver" Guid="{6AC8226E-A005-437e-A3CD-0FC32D9A346F}">
                            <File Id="apm2inf" Source="..\Driver\arduinomega2560.inf" />
                            <File Id="apm2cat" Source="..\Driver\arduinomega2560.cat" />
                            <File Id="dpixml" Source="..\Driver\dpinst.xml" />
                            <File Id="dpix64" Source="..\Driver\DPInstx64.exe" />
                            <File Id="dpix86" Source="..\Driver\DPInstx86.exe" />
                            <File Id="px4cat" Source="..\Driver\px4fmu.cat" />
                            <File Id="px4inf" Source="..\Driver\px4fmu.inf" />
                            <File Id="px4flowcat" Source="..\Driver\px4flow.cat" />
                            <File Id="px4flowinf" Source="..\Driver\px4flow.inf" />
                            <iis:Certificate Id="rootcert" StoreLocation="localMachine" StoreName="root" Overwrite='yes' BinaryKey='signedcer' Request="no" Name='Michael Oborne' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>



            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Mission Planner" />
            </Directory>

        </Directory>



<Binary Id="signedcer"  SourceFile="..\Driver\signed.cer" />
  
  <CustomAction  Id='Install_signed_Driver86' Execute='deferred' 
  Directory='driver'  ExeCommand='[driver]DPInstx86.exe' Return='ignore' Impersonate='no'/>
  <CustomAction  Id='Install_signed_Driver64' Execute='deferred' 
  Directory='driver'  ExeCommand='[driver]DPInstx64.exe' Return='ignore' Impersonate='no'/>

 <InstallExecuteSequence>
    <Custom Action="Install_signed_Driver86"  After="CreateShortcuts">NOT 
	Installed AND NOT VersionNT64</Custom>
    <Custom Action="Install_signed_Driver64"  After="CreateShortcuts">NOT 
	Installed AND VersionNT64</Custom>
  </InstallExecuteSequence>


        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut10" Name="Mission Planner" Description="Mission Planner" Target="[MissionPlanner]MissionPlanner.exe" WorkingDirectory="MissionPlanner" />
                <Shortcut Id="UninstallProduct" Name="Uninstall Mission Planner" Description="Uninstalls My Application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                <RegistryValue Root="HKCU" Key="Software\MichaelOborne\MissionPlanner" Name="installed" Type="integer" Value="1" KeyPath="yes" />

                <RemoveFolder Id="dltApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
        </DirectoryRef>


        <Feature Id="Complete" Title="Mission Planner" Level="1">
            <ComponentRef Id="InstallDirPermissions" />

<ComponentRef Id="_1" />
<ComponentRef Id="de_103" />
<ComponentRef Id="de_DE_104" />
<ComponentRef Id="Driver_107" />
<ComponentRef Id="es_118" />
<ComponentRef Id="es_ES_119" />
<ComponentRef Id="fr_122" />
<ComponentRef Id="hu_125" />
<ComponentRef Id="it_126" />
<ComponentRef Id="it_IT_127" />
<ComponentRef Id="ja_130" />
<ComponentRef Id="m3u_131" />
<ComponentRef Id="mavelous_web_137" />
<ComponentRef Id="pl_139" />
<ComponentRef Id="plugins_142" />
<ComponentRef Id="pt_151" />
<ComponentRef Id="Resources_152" />
<ComponentRef Id="ru_156" />
<ComponentRef Id="ru_RU_157" />
<ComponentRef Id="sk_160" />
<ComponentRef Id="sv_161" />
<ComponentRef Id="tr_162" />
<ComponentRef Id="zh_cn_163" />
<ComponentRef Id="zh_Hans_164" />
<ComponentRef Id="zh_tw_167" />

            
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="MyDriver" />
        </Feature>
        
            <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <Property Id="WIXUI_INSTALLDIR" Value="MissionPlanner" />

<WixVariable Id="WixUILicenseRtf" Value="licence.rtf" />

    <UI>
        <UIRef Id="WixUI_InstallDir" />
        <Publish Dialog="ExitDialog" 
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Mission Planner" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#_64]" />
    <CustomAction Id="LaunchApplication" 
        BinaryKey="WixCA" 
        DllEntry="WixShellExec"
        Impersonate="yes" />
    </Product>
    
</Wix>
