<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension" xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension' >


    <Product Id="*" Name="Mission Planner" Language="1033" Version="1.2.75" Manufacturer="Michael Oborne" UpgradeCode="{625389D7-EB3C-4d77-A5F6-A285CF99437D}">

        <Package Description="Mission Planner Installer" Comments="Mission Planner Installer" Manufacturer="Michael Oborne" InstallerVersion="200" Compressed="yes" />


<Upgrade Id="{625389D7-EB3C-4d77-A5F6-A285CF99437D}">
    <UpgradeVersion OnlyDetect="yes" Minimum="1.2.75" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
    <UpgradeVersion OnlyDetect="no" Maximum="1.2.75" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
</Upgrade>

<InstallExecuteSequence>
    <RemoveExistingProducts After="InstallInitialize" />
</InstallExecuteSequence>

        <PropertyRef Id="NETFRAMEWORK35" />

        <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK35]]></Condition>

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                
<Directory Id="MissionPlanner" Name="Mission Planner">
<Component Id="InstallDirPermissions" Guid="{525389D7-EB3C-4d77-A5F6-A285CF99437D}" KeyPath="yes"> 
                        <CreateFolder> 
                            <Permission User="Everyone" GenericAll="yes" /> 
                        </CreateFolder>
                    </Component>
<Component Id="_comp1" Guid="1f94151f-0ef4-4638-984b-d25d159a15d6">
<File Id="_2" Source="..\bin\release\acsimplepids.xml" />
<File Id="_3" Source="..\bin\release\alglibnet2.dll" />
<File Id="_4" Source="..\bin\release\ArduCopterConfig.xml" />
<File Id="_5" Source="..\bin\release\ArdupilotMegaPlanner10.application" />
<File Id="_6" Source="..\bin\release\ArdupilotMegaPlanner10.exe" ><netfx:NativeImage Id="ngen_ArdupilotMegaPlannerexe"/> </File>
<File Id="_7" Source="..\bin\release\ArdupilotMegaPlanner10.exe.config" />
<File Id="_8" Source="..\bin\release\ArdupilotMegaPlanner10.exe.manifest" />
<File Id="_9" Source="..\bin\release\ArdupilotMegaPlanner10.pdb" />
<File Id="_10" Source="..\bin\release\ArdupilotMegaPlanner10.vshost.application" />
<File Id="_11" Source="..\bin\release\ArdupilotMegaPlanner10.vshost.exe" />
<File Id="_12" Source="..\bin\release\ArdupilotMegaPlanner10.vshost.exe.config" />
<File Id="_13" Source="..\bin\release\ArdupilotMegaPlanner10.vshost.exe.manifest" />
<File Id="_14" Source="..\bin\release\AviFile.dll" />
<File Id="_15" Source="..\bin\release\BaseClassesNET.dll" />
<File Id="_16" Source="..\bin\release\BaseClassesNET.pdb" />
<File Id="_17" Source="..\bin\release\block_plane_0.dae" />
<File Id="_18" Source="..\bin\release\BouncyCastle.Crypto.dll" />
<File Id="_19" Source="..\bin\release\BSE.Windows.Forms.dll" />
<File Id="_20" Source="..\bin\release\camerasBuiltin.xml" />
<File Id="_21" Source="..\bin\release\ChangeLog.txt" />
<File Id="_22" Source="..\bin\release\Core.dll" />
<File Id="_23" Source="..\bin\release\Core.pdb" />
<File Id="_24" Source="..\bin\release\dataflashlog.xml" />
<File Id="_25" Source="..\bin\release\DirectShowLib-2005.dll" />
<File Id="_26" Source="..\bin\release\exif.xslt" />
<File Id="_27" Source="..\bin\release\FirmwareHistory.txt" />
<File Id="_28" Source="..\bin\release\GeoUtility.dll" />
<File Id="_29" Source="..\bin\release\GeoUtility.pdb" />
<File Id="_30" Source="..\bin\release\GeoUtility.xml" />
<File Id="_31" Source="..\bin\release\GMap.NET.Core.dll" />
<File Id="_32" Source="..\bin\release\GMap.NET.Core.xml" />
<File Id="_33" Source="..\bin\release\GMap.NET.WindowsForms.dll" />
<File Id="_34" Source="..\bin\release\GMap.NET.WindowsForms.xml" />
<File Id="_35" Source="..\bin\release\hud.html" />
<File Id="_36" Source="..\bin\release\ICSharpCode.SharpZipLib.dll" />
<File Id="_37" Source="..\bin\release\IronPython.dll" />
<File Id="_38" Source="..\bin\release\IronPython.Modules.dll" />
<File Id="_39" Source="..\bin\release\KMLib.dll" />
<File Id="_40" Source="..\bin\release\KMLib.pdb" />
<File Id="_41" Source="..\bin\release\log4net.dll" />
<File Id="_42" Source="..\bin\release\mavcmd.xml" />
<File Id="_43" Source="..\bin\release\MAVLink.xml" />
<File Id="_44" Source="..\bin\release\MetaDataExtractor.dll" />
<File Id="_45" Source="..\bin\release\MetadataExtractor.dtd" />
<File Id="_46" Source="..\bin\release\MetadataExtractorNew.dtd" />
<File Id="_47" Source="..\bin\release\Microsoft.DirectX.DirectInput.dll" />
<File Id="_48" Source="..\bin\release\Microsoft.DirectX.dll" />
<File Id="_49" Source="..\bin\release\Microsoft.Dynamic.dll" />
<File Id="_50" Source="..\bin\release\Microsoft.Scripting.Core.dll" />
<File Id="_51" Source="..\bin\release\Microsoft.Scripting.Debugging.dll" />
<File Id="_52" Source="..\bin\release\Microsoft.Scripting.dll" />
<File Id="_53" Source="..\bin\release\Microsoft.Scripting.ExtensionAttribute.dll" />
<File Id="_54" Source="..\bin\release\MissionPlanner.Comms.dll" />
<File Id="_55" Source="..\bin\release\MissionPlanner.Comms.pdb" />
<File Id="_56" Source="..\bin\release\MissionPlanner.Controls.dll" />
<File Id="_57" Source="..\bin\release\MissionPlanner.Controls.pdb" />
<File Id="_58" Source="..\bin\release\MissionPlanner.Utilities.dll" />
<File Id="_59" Source="..\bin\release\MissionPlanner.Utilities.pdb" />
<File Id="_60" Source="..\bin\release\netDxf.dll" />
<File Id="_61" Source="..\bin\release\OpenTK.dll" />
<File Id="_62" Source="..\bin\release\OpenTK.GLControl.dll" />
<File Id="_63" Source="..\bin\release\ParameterMetaDataBackup.xml" />
<File Id="_64" Source="..\bin\release\ProjNet.dll" />
<File Id="_65" Source="..\bin\release\px4uploader.exe" />
<File Id="_66" Source="..\bin\release\px4uploader.pdb" />
<File Id="_67" Source="..\bin\release\quadhil.xml" />
<File Id="_68" Source="..\bin\release\sampleFile.xml" />
<File Id="_69" Source="..\bin\release\SharpKml.dll" />
<File Id="_70" Source="..\bin\release\SharpKml.pdb" />
<File Id="_71" Source="..\bin\release\SharpKml.xml" />
<File Id="_72" Source="..\bin\release\System.Reactive.dll" />
<File Id="_73" Source="..\bin\release\System.Reactive.xml" />
<File Id="_74" Source="..\bin\release\System.Speech.dll" />
<File Id="_75" Source="..\bin\release\Transitions.dll" />
<File Id="_76" Source="..\bin\release\Updater.exe" />
<File Id="_77" Source="..\bin\release\Updater.exe.config" />
<File Id="_78" Source="..\bin\release\version.exe" />
<File Id="_79" Source="..\bin\release\version.txt" />
<File Id="_80" Source="..\bin\release\ZedGraph.dll" />
<File Id="_81" Source="..\bin\release\ZedGraph.pdb" />
<File Id="_82" Source="..\bin\release\ZedGraph.xml" />
</Component>
<Directory Id="de82" Name="de">
<Component Id="_comp83" Guid="199334c0-eb4b-4002-adcc-74cc80bfe9aa">
<File Id="_84" Source="..\bin\release\de\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="de_DE84" Name="de-DE">
<Component Id="_comp85" Guid="13adf1a5-57a7-4ed1-a02e-8c9ff39d5f95">
<File Id="_86" Source="..\bin\release\de-DE\ArdupilotMegaPlanner10.resources.dll" />
</Component>
</Directory>
<Directory Id="Driver86" Name="Driver">
<Component Id="_comp87" Guid="3127335f-de17-442a-9507-04c8fdc9dc5a">
<File Id="_88" Source="..\bin\release\Driver\signed.cer" />
</Component>
</Directory>
<Directory Id="es88" Name="es">
<Component Id="_comp89" Guid="e60619b5-785d-44ef-a111-27ba7e52c512">
<File Id="_90" Source="..\bin\release\es\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="es_ES90" Name="es-ES">
<Component Id="_comp91" Guid="44d9c21b-0640-426e-9ff3-5098aa711321">
<File Id="_92" Source="..\bin\release\es-ES\ArdupilotMegaPlanner10.resources.dll" />
</Component>
</Directory>
<Directory Id="fr92" Name="fr">
<Component Id="_comp93" Guid="0ef00a4f-92e4-43a2-b0f6-27fc635e00f2">
<File Id="_94" Source="..\bin\release\fr\ArdupilotMegaPlanner10.resources.dll" />
<File Id="_95" Source="..\bin\release\fr\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="hu95" Name="hu">
<Component Id="_comp96" Guid="d3742831-2e9a-4b21-8b04-39006f3c1a3b">
<File Id="_97" Source="..\bin\release\hu\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="it97" Name="it">
<Component Id="_comp98" Guid="273691c2-91d8-40d4-8416-c3e1dd764183">
<File Id="_99" Source="..\bin\release\it\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="it_IT99" Name="it-IT">
<Component Id="_comp100" Guid="a51049aa-fd73-4404-8cf1-a08270363ccd">
<File Id="_101" Source="..\bin\release\it-IT\ArdupilotMegaPlanner10.resources.dll" />
</Component>
</Directory>
<Directory Id="ja101" Name="ja">
<Component Id="_comp102" Guid="18da0ab7-05c3-4fb7-89ea-ba0b945a31b8">
<File Id="_103" Source="..\bin\release\ja\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="m3u103" Name="m3u">
<Component Id="_comp104" Guid="8dbd2c4f-f364-4063-9a4b-0aad48ac2567">
<File Id="_105" Source="..\bin\release\m3u\both.m3u" />
<File Id="_106" Source="..\bin\release\m3u\GeoRefnetworklink.kml" />
<File Id="_107" Source="..\bin\release\m3u\hud.m3u" />
<File Id="_108" Source="..\bin\release\m3u\map.m3u" />
<File Id="_109" Source="..\bin\release\m3u\networklink.kml" />
</Component>
</Directory>
<Directory Id="mavelous_web109" Name="mavelous_web">
<Component Id="_comp110" Guid="e9f63b42-17c1-4edb-b240-2605ac93051d">
<File Id="_111" Source="..\bin\release\mavelous_web\index.html" />
</Component>
</Directory>
<Directory Id="pl111" Name="pl">
<Component Id="_comp112" Guid="efb6081f-d048-427b-97e2-a3140e40fe5f">
<File Id="_113" Source="..\bin\release\pl\ArdupilotMegaPlanner10.resources.dll" />
</Component>
</Directory>
<Directory Id="plugins113" Name="plugins">
<Component Id="_comp114" Guid="789204ea-a566-4404-9c58-4a1dbf75a0ee">
<File Id="_115" Source="..\bin\release\plugins\MissionPlanner.Grid.dll" />
<File Id="_116" Source="..\bin\release\plugins\MissionPlanner.Grid.pdb" />
<File Id="_117" Source="..\bin\release\plugins\MissionPlanner.Stats.dll" />
<File Id="_118" Source="..\bin\release\plugins\MissionPlanner.Stats.pdb" />
</Component>
</Directory>
<Directory Id="pt118" Name="pt">
<Component Id="_comp119" Guid="93171bd1-a3ca-40dd-95de-e72842233814">
<File Id="_120" Source="..\bin\release\pt\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="Resources120" Name="Resources">
<Component Id="_comp121" Guid="890b7718-9306-4147-97e0-3e2f3eaf515b">
<File Id="_122" Source="..\bin\release\Resources\aw.png" />
<File Id="_123" Source="..\bin\release\Resources\MAVCmd.txt" />
<File Id="_124" Source="..\bin\release\Resources\Welcome_to_Michael_Oborne.rtf" />
</Component>
</Directory>
<Directory Id="ru124" Name="ru">
<Component Id="_comp125" Guid="0b0dd411-4e3e-42c5-8aa7-31d5b4bf232f">
<File Id="_126" Source="..\bin\release\ru\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="ru_RU126" Name="ru-RU">
<Component Id="_comp127" Guid="098bbac5-0d5f-4d1b-90f9-647ff0a3f08b">
<File Id="_128" Source="..\bin\release\ru-RU\ArdupilotMegaPlanner10.resources.dll" />
</Component>
</Directory>
<Directory Id="sk128" Name="sk">
<Component Id="_comp129" Guid="93753254-de02-4628-ae9a-e34e838f0997">
<File Id="_130" Source="..\bin\release\sk\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="sv130" Name="sv">
<Component Id="_comp131" Guid="dd5f1e1b-e5f0-42a4-b9bc-750ee91519f3">
<File Id="_132" Source="..\bin\release\sv\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="tr132" Name="tr">
<Component Id="_comp133" Guid="4dd229f4-3f56-4dc3-a2ca-94773250c1bf">
<File Id="_134" Source="..\bin\release\tr\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="zh_cn134" Name="zh-cn">
<Component Id="_comp135" Guid="9ecd0103-2f7a-4196-a37a-112c58eaae09">
<File Id="_136" Source="..\bin\release\zh-cn\ZedGraph.resources.dll" />
</Component>
</Directory>
<Directory Id="zh_Hans136" Name="zh-Hans">
<Component Id="_comp137" Guid="928f145e-f6db-4daf-af7f-9c982a3415f5">
<File Id="_138" Source="..\bin\release\zh-Hans\ArdupilotMegaPlanner10.resources.dll" />
</Component>
</Directory>
<Directory Id="zh_tw138" Name="zh-tw">
<Component Id="_comp139" Guid="f97043fa-2695-43fd-b138-3e029378e5c5">
<File Id="_140" Source="..\bin\release\zh-tw\ArdupilotMegaPlanner10.resources.dll" />
<File Id="_141" Source="..\bin\release\zh-tw\ZedGraph.resources.dll" />
</Component>
</Directory>

                    
                    <Directory Id="driver" Name="Drivers">
                        <Component Id="MyDriver" Guid="{6AC8226E-A005-437e-A3CD-0FC32D9A346F}">
                            <File Id="apm2inf" Source="..\Driver\arduinomega2560.inf" />
                            <File Id="apm2cat" Source="..\Driver\arduinomega2560.cat" />
                            <File Id="dpixml" Source="..\Driver\dpinst.xml" />
                            <File Id="dpix64" Source="..\Driver\DPInstx64.exe" />
                            <File Id="dpix86" Source="..\Driver\DPInstx86.exe" />
                            <File Id="px4cat" Source="..\Driver\px4fmu.cat" />
                            <File Id="px4inf" Source="..\Driver\px4fmu.inf" />
                            
                            <iis:Certificate Id="rootcert" StoreLocation="localMachine" StoreName="root" Overwrite='yes' BinaryKey='signedcer' Request="no" Name='Michael Oborne' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>



            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Mission Planner" />
            </Directory>

        </Directory>

<Binary Id="signedcer"  SourceFile="..\Driver\signed.cer" />
  
  <CustomAction  Id='Install_signed_Driver86' Execute='deferred' 
  Directory='driver'  ExeCommand='[driver]DPInstx86.exe' Return='ignore' Impersonate='no'/>
  <CustomAction  Id='Install_signed_Driver64' Execute='deferred' 
  Directory='driver'  ExeCommand='[driver]DPInstx64.exe' Return='ignore' Impersonate='no'/>

 <InstallExecuteSequence>
    <Custom Action="Install_signed_Driver86"  After="CreateShortcuts">NOT 
	Installed AND NOT VersionNT64</Custom>
    <Custom Action="Install_signed_Driver64"  After="CreateShortcuts">NOT 
	Installed AND VersionNT64</Custom>
  </InstallExecuteSequence>


        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="{8BC628BA-08A0-43d6-88C8-D4C007AC4607}">
                <Shortcut Id="ApplicationStartMenuShortcut10" Name="Mission Planner Mav 1.0" Description="Mission Planner" Target="[MissionPlanner]ArdupilotMegaPlanner10.exe" WorkingDirectory="MissionPlanner" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <Shortcut Id="UninstallProduct" Name="Uninstall Mission Planner" Description="Uninstalls My Application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                <RegistryValue Root="HKCU" Key="Software\MichaelOborne\MissionPlanner" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>


        <Feature Id="MyFeature" Title="My 1st Feature" Level="1">
            <ComponentRef Id="InstallDirPermissions" />

<ComponentRef Id="_comp1" />
<ComponentRef Id="_comp83" />
<ComponentRef Id="_comp85" />
<ComponentRef Id="_comp87" />
<ComponentRef Id="_comp89" />
<ComponentRef Id="_comp91" />
<ComponentRef Id="_comp93" />
<ComponentRef Id="_comp96" />
<ComponentRef Id="_comp98" />
<ComponentRef Id="_comp100" />
<ComponentRef Id="_comp102" />
<ComponentRef Id="_comp104" />
<ComponentRef Id="_comp110" />
<ComponentRef Id="_comp112" />
<ComponentRef Id="_comp114" />
<ComponentRef Id="_comp119" />
<ComponentRef Id="_comp121" />
<ComponentRef Id="_comp125" />
<ComponentRef Id="_comp127" />
<ComponentRef Id="_comp129" />
<ComponentRef Id="_comp131" />
<ComponentRef Id="_comp133" />
<ComponentRef Id="_comp135" />
<ComponentRef Id="_comp137" />
<ComponentRef Id="_comp139" />

            
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="MyDriver" />
        </Feature>
        
            <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <Property Id="WIXUI_INSTALLDIR" Value="MissionPlanner" />

    <UI>
        <UIRef Id="WixUI_InstallDir" />
        <Publish Dialog="ExitDialog" 
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Mission Planner" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#_6]" />
    <CustomAction Id="LaunchApplication" 
        BinaryKey="WixCA" 
        DllEntry="WixShellExec"
        Impersonate="yes" />
    </Product>
    
</Wix>
