<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <!-- Create the keys.config and add the section below in the comment,
       keys.config will never be checked into source control.
       
       <appSettings>
          <add key="MapKey" value="bing maps key here"/>
       </appSettings>
       -->
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="AAWings.Default" switchValue="Error">
        <listeners>
          <clear />
          <add name="File" />
        </listeners>
      </source>
      <source name="AAWings.Client" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="File" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\dump\AAWingsLog.txt" traceOutputOptions="DateTime" />
    </sharedListeners>
  </system.diagnostics>
</configuration>