<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    
  
	</runtime>

  <!-- Create the keys.config and add the section below in the comment,
       keys.config will never be checked into source control.
       
       <appSettings>
          <add key="MapKey" value="bing maps key here"/>
       </appSettings>
       -->
  <appSettings file="Keys.config" />

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="AAWings.Default" switchValue="Error">
        <listeners>
          <clear />
          <add name="File" />
        </listeners>
      </source>

      <source name="AAWings.Client" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="File" />
        </listeners>
      </source>
              
    </sources>
    <sharedListeners>
      <add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\dump\AAWingsLog.txt" traceOutputOptions="DateTime" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
