<appSettings>
  <add key="MapKey" value="bing maps key here"/>
  <add key="ClientId" value="zHTnuEq0RAWoLy5thcvTtMdwX7r6et2L3MAhxv8a0"/>
  <add key="ClientSecret" value="1ylYlXV4GuWJHIUywFg+XxE6hxsd3P/Dq5+J1PCUGxulC05/GC4Xpg=="/>
  <add key="AuthURL" value="https://auth.altitudeangel.com"/>
  <add key="APIURL" value="https://api.altitudeangel.com"/>
</appSettings>