<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="SkiaSharp" version="1.60.1" targetFramework="net461" />
  <package id="SkiaSharp.Views" version="1.60.1" targetFramework="net461" />
  <package id="Xamarin.Forms" version="4.1.0.581479" targetFramework="net461" />
</packages>