<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UpdateLocationVersion" value="http://firmware.ardupilot.org/MissionPlanner/upgrade/" />
    <add key="UpdateLocation" value="http://firmware.ardupilot.org/MissionPlanner/upgrade/" />
    <add key="UpdateLocationMD5" value="http://firmware.ardupilot.org/MissionPlanner/checksums.txt" />
    <add key="UpdateLocationZip" value="http://firmware.ardupilot.org/MissionPlanner/MissionPlanner-latest.zip" />
    <add key="BetaUpdateLocationVersion" value="http://oborne.me/MissionPlanner/upgrade/" />
    <add key="BetaUpdateLocation" value="http://oborne.me/MissionPlanner/upgrade/" />
    <add key="BetaUpdateLocationMD5" value="http://oborne.me/MissionPlanner/checksums.txt" />
    <add key="BetaUpdateLocationZip" value="http://oborne.me/MissionPlanner/MissionPlannerBeta.zip" />
    <add key="MasterUpdateLocationMD5" value="https://ci.appveyor.com/api/projects/meee1/missionplanner/artifacts/checksums.txt?branch=master" />
    <add key="MasterUpdateLocationZip" value="https://ci.appveyor.com/api/projects/meee1/missionplanner/artifacts/MissionPlannerBeta.zip?branch=master"/>
    <add key="ParameterLocations" value="https://raw.githubusercontent.com/ardupilot/ardupilot/ArduCopter-stable/ArduCopter/Parameters.cpp;    https://raw.githubusercontent.com/ardupilot/ardupilot/ArduSub-stable/ArduSub/Parameters.cpp;      https://raw.githubusercontent.com/ardupilot/ardupilot/ArduPlane-stable/ArduPlane/Parameters.cpp;          https://raw.githubusercontent.com/ardupilot/ardupilot/APMrover2-stable/APMrover2/Parameters.cpp;          https://raw.githubusercontent.com/ardupilot/ardupilot/master/AntennaTracker/Parameters.cpp;" />
    <add key="ParameterLocationsBleeding" value="https://raw.githubusercontent.com/ardupilot/ardupilot/master/ArduCopter/Parameters.cpp;     https://raw.githubusercontent.com/ardupilot/ardupilot/master/ArduSub/Parameters.cpp;       https://raw.githubusercontent.com/ardupilot/ardupilot/master/ArduPlane/Parameters.cpp;          https://raw.githubusercontent.com/ardupilot/ardupilot/master/APMrover2/Parameters.cpp;          https://raw.githubusercontent.com/ardupilot/ardupilot/master/AntennaTracker/Parameters.cpp;" />
    <add key="ParameterMetaDataXMLFileName" value="ParameterMetaData.xml" />
    <add key="ParameterMetaDataXMLFileNameBackup" value="ParameterMetaDataBackup.xml" />
  </appSettings>
</configuration>